body{
	background: grey;
	font-family : Arial, sans-serif;
	margin : 0;
	color : white;
}

article{
	background : radial-gradient(#F45D38,#121212);
	max-width : 1600px;
	padding : 10px;
	margin : 10px auto;
	text-align : center;
}

header{
	border : 1px solid black;
	background-color : #F45D38;
	text-align : center;
	font-size : 30px;
}

header ul li{
	display : inline-block;
	width : 22%;
}

nav a{
	color : white;
	text-decoration : none;
}

nav a:hover{
	border-bottom : 2px solid white;
}

h1{
	text-transform : capitalize;
}

section article a{
	color : white;
	text-decoration : none;
}

#fin ul{
	list-style-type : none;
}

.Aerosmith{
	margin-left : 38%;
	text-align : left;
	float : left;
}

#Aerosmith figure{
	clear : both;
}

#Aerosmith p{
	clear : both;
	Margin : 10px;
}

article{
	border : 1px solid white;
}

.ACDC{
	margin-left : 38%;
	text-align : left;
	float : left
}

#ACDC p{
	Clear : both;
	margin : 10px;
}

#ACDC figure{
	clear : both;
}

.Kiss{
	margin-left : 38%;
	text-align : left;
	float : left
}

#Kiss p{
	clear : both;
	margin : 10px;
}

#Kiss figure{
	clear : both;
}

.Téléphone{
	margin-left : 38%;
	text-align : left;
	float : left
}

#Téléphone p{
	clear : both;
	margin : 10px;
}

#Téléphone figure{
	clear : both;
}

.Groupe{
	height : 500px;
}

.Logo{
	height : 200px;
}

.début{
	text-align : left;
	text-decoration : underline;
}

.site{
	border-bottom : 1px solid white;
}

.song{
	text-decoration : underline;
}

#fin a:hover{
	border-bottom : 1px solid white;
}